extends layout


block content
  h1= title
  each message in messages
    section
      main
        p=message.text
      footer
        p=message.user
        p=message.added.hour+':'+message.added.minutes
  a(href='/new')='Add message'